.header{
    height: 60px;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #131921;
};

.header img{
    width: 100px;}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
}

.header-search {
    display:flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header-search input{
    flex: 1;
    height: 26px;
}

.header-searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header-nav{
    display:flex;
    justify-content:space-evenly; 
}

.header-option{
    display:flex;
    flex-direction: column;
    margin: 0 10px;
    color:#fff;
}

.header-optionLineOne{
    font-size:10px;
}

.header-optionLineTwo{
    font-size:13px;
    font-weight: 800;
}

.header-optionBasket{
    display:flex;
    align-items: center;
    color:#fff;
}

.header-basketCount{
    margin: 0 10px;
}